<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snail.test.mapper.UserMapper">
    <select id="getUserByName" resultType="com.snail.test.pojo.User">
        SELECT * from t_user where name = #{name}
    </select>

    <select id="getAllUsers" resultType="com.snail.test.pojo.User">
        SELECT * from t_user
    </select>
</mapper>
